.consulting_info>h4{
  width: 100%;
  text-align: left;
  padding-bottom: 0.625rem;
  margin-top: 1.875rem;
  border-bottom:1px solid #004385 ;
  box-sizing: border-box;
}

.consulting_info>div>table>tr{ 
  height: 2.5rem;
  padding: 0.625rem 0;
}

.consulting_info>div>table>tr>td:nth-child(1){
  width: 6.5rem;
  text-align: center;
  background-color: #f8f8f8;
}

.consulting_info>div>table>tr>td:nth-child(2){
  padding-left:0.625rem ;
}

.consulting_info>div>table>tr>td:nth-child(2)>textarea{
  padding-left:0.625rem ;
  width: 44.5rem;
  min-height: 11.25rem;
  height: auto;
  overflow-y: scroll;
}

.consulting_info_btn_box{
  text-align: center;
}


.consulting_info_btn_box>button:nth-child(1){
  display: inline-block;
  margin: 0.625rem;
  padding: 0.5rem 1.875rem;
  background-color: #006cdb;
  border: 1px solid #006cdb;
  border-radius: 0.375rem;
  font-weight: bold;
  color: #fff;
}

.consulting_info_btn_box>button:nth-child(1):hover{
  background-color: #2196f3;
}

.consulting_info_btn_box>button:nth-child(2){
  display: inline-block;
  margin: 0.625rem;
  padding: 0.5rem 1.875rem;
  background-color: #fff;
  border: 1px solid #006cdb;
  border-radius: 0.375rem;
  font-weight: bold;
  color: #006cdb;
}

.consulting_info_btn_box>button:nth-child(2):hover{
  background-color: #2196f3;
  color: #fff;
}


